@()
@if(flash.containsKey("success")) {
<div class="col-xs-12 success alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>@flash.get("success")</strong>
</div>
}
@if(flash.containsKey("error")) {
<div class="col-xs-12 success alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>@flash.get("error")</strong>
</div>
}
