@()
<ul class="nav nav-inline">
    <li class="nav-item">
        <a class="nav-link" href="@routes.Apps.index()">TeamTaskApp</a>
    </li>
    @if(!"---".equals(Apps.getLoginUserName())){
        <li class="nav-item">
            USER:@{Apps.getLoginUserName()}
        </li>
        <li class="nav-item">
            <a href="@routes.UserController.displayChangePwd()">パスワード変更</a>
        </li>
        <li class="nav-item">
            <a href="@routes.Apps.logout()">LOGOUT</a>
        </li>
    }
</ul>