@()
<div class="col-xs-4 bg-info">
    <a href="@routes.Apps.index()">TeamTaskApp</a>
</div>
<div class="col-xs-4 bg-info">
    <span>&nbsp;</span>
</div>
<div class="col-xs-4 bg-info">
    @if(!"---".equals(Apps.getLoginUserName())){
    <div class="dropdown">
        <a data-toggle="dropdown" id="dropdownMenu1">
            USER:@{Apps.getLoginUserName()}
            <div class="caret"></div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" href="@routes.UserController.displayChangePwd()">パスワード変更</a></li>
            <li role="presentation"><a role="menuitem" href="@routes.Apps.logout()">LOGOUT</a></li>
        </ul>
    </div>
    } else {
        <span>&nbsp;</span>
    }
</div>
