@(teamName: String, taskName: String)

@import services.implement.TaskServiceImpl

@main("タスク内容") {
<div class="container">
    <h2 class="bg-info">タスク内容</h2>
    <p>タスク名：@taskName</p>
    <p>タスク説明：@TaskController.findTaskMstByTeamAndTaskName(teamName,taskName).taskInfo</p>
    <p>タスク頻度：TODO</p>
    <p>主担当ユーザー：@TaskController.findTaskMstByTeamAndTaskName(teamName,taskName).mainUser.userName</p>
    <p>ユーザー毎の実施回数：TODO</p>
    <a href="@routes.TaskController.displayUpdateTaskMst(teamName,taskName)">タスク編集</a>
</div>

}