@(mode: String, form1: Form[dto.task.EditTaskMstDto])

@import helper._
@import constant.Constant

@main("タスク登録・編集") {
    <h2 class="bg-info">
        @{val title = if (mode == Constant.MODE_CREATE) {
        "タスク登録"
        } else if (mode == Constant.MODE_UPDATE) {
        "タスク編集"
        }
        title
        }
    </h2>
    @form(action = routes.TaskController.edit(mode), 'class -> "form-horizontal") {
    @(inputText(
    field = form1("id"),
    args = 'type -> "hidden",
    '_label -> ""
    ))
    @(inputText(
    field = form1("taskName"),
    args = '_label -> "タスク名"
    ))
    @(inputText(
    field = form1("taskInfo"),
    args = '_label -> "タスク内容"
    ))
    @(inputText(
    field = form1("repType"),
    args = '_label -> "実施頻度タイプ"
    ))
    @(inputText(
    field = form1("repetition"),
    args = '_label -> "実施頻度"
    ))
    @(inputText(
    field = form1("mainUserName"),
    args = '_label -> "主担当ユーザー"
    ))
    @(inputText(
    field = form1("teamName"),
    args = '_label -> "タスク所有チーム",
            'readonly -> true

    ))
    @(inputDate(
    field = form1("startDate"),
    args = '_label -> "開始日"
    ))
    <input type="submit">
    }
}