@(mode: String, form1: Form[dto.task.EditTaskMstDto])

@import helper._
@import constant.Constant

@main("タスク登録・編集") {
    <script type="text/javascript">

        function changeRepType() {
            if (radio[0].checked) { // "D"
                listW.hide();
                //$('input[name=\'repetition[]\']').prop("checked", false);
                listM.hide();
            } else if (radio[1].checked) { // "W"
                listW.show();
                listM.hide();
            } else if (radio[2].checked) { // "M"
                listW.hide();
                //listW.find('input').checked = "";
                listM.show();
            } else { // 未選択
                listW.hide();
                listM.hide();
            }
        }
        function beforeSubmit() {
            if (radio[0].checked) { // "D"
                $('input[name=\'repetition[]\']').prop("checked", false);
            } else if (radio[1].checked) { // "W"
                listM.find('input[name=\'repetition[]\']').prop("checked", false);
            } else if (radio[2].checked) { // "M"
                listW.find('input[name=\'repetition[]\']').prop("checked", false);
            } else { // 未選択
                $('input[name=\'repetition[]\']').prop("checked", false);
            }
        }
        window.onload = function(){
            radio = $('input[name=repType]');
            listW = $('#repW');
            listM = $('#repM');
            changeRepType();
        }
    </script>
    <h2 class="bg-info">
        @{val title = if (mode == Constant.MODE_CREATE) {
        "タスク登録"
        } else if (mode == Constant.MODE_UPDATE) {
        "タスク編集"
        }
        title
        }
    </h2>
    @form(action = routes.TaskController.edit(mode), 'class -> "form-horizontal") {
    @(inputText(
    field = form1("id"),
    args = 'type -> "hidden",
    '_label -> ""
    ))
    @(inputText(
    field = form1("taskName"),
    args = '_label -> "タスク名"
    ))
    @(inputText(
    field = form1("taskInfo"),
    args = '_label -> "タスク内容"
    ))
    <div class="div_repType" onclick="changeRepType();">
    @inputRadioGroup(
        form1("repType"),
        options = Seq("D" -> "日次", "W" -> "週次", "M" -> "月次"),
        '_label -> "実施頻度タイプ"
    )
    </div>
    <div id="repW">
    @inputCheckboxGroup(
        form1("repetition"),
        options = Seq("Sun" -> "Sun", "Mon" -> "Mon", "Tue" -> "Tue", "Wed" -> "Wed", "Thu" -> "Thu", "Fri" -> "Fri", "Sat" -> "Sat"),
        '_label -> "実施頻度(曜日)"
        )
    </div>
    <div id="repM">
    @inputCheckboxGroup(
    form1("repetition"),
    options = Seq("1" -> "1", "2" -> "2", "3" -> "3", "4" -> "4", "5" -> "5", "6" -> "6", "7" -> "7", "8" -> "8", "9" -> "9", "10" -> "10",
        "11" -> "11", "12" -> "12", "13" -> "13", "14" -> "14", "15" -> "15", "16" -> "16", "17" -> "17", "18" -> "18", "19" -> "19", "20" -> "20",
        "21" -> "21", "22" -> "22", "23" -> "23", "24" -> "24", "25" -> "25", "26" -> "26", "27" -> "27", "28" -> "28", "29" -> "29", "30" -> "30",
        "31" -> "31"),
    '_label -> "実施頻度(日)"
    )
    </div>
    @(inputText(
    field = form1("mainUserName"),
    args = '_label -> "主担当ユーザー"
    ))
    @* TODO チーム指定時、および更新時はreadOnlyにする *@
    @(inputText(
    field = form1("teamName"),
    args = '_label -> "タスク所有チーム"
    ))

    @(inputDate(
    field = form1("startDate"),
    args = '_label -> "開始日"
    ))
    <input type="submit" onclick="beforeSubmit();">
    }
}