@(teamName: String, taskName: String)

@import services.implement.TaskServiceImpl

@main("タスク内容") {
<div class="container">
    <h2 class="bg-info">タスク内容</h2>
    <table class="table table-sm">
        <tr>
            <th>タスク名</th>
            <td>@taskName</td>
        </tr>
        <tr>
            <th>タスク説明</th>
            <td>@TaskController.findTaskMstByTeamAndTaskName(teamName,taskName).taskInfo</td>
        </tr>
        <tr>
            <th>タスク頻度</th>
            <td>@TaskController.getTaskRepetition(teamName, taskName)</td>
        </tr>
        <tr>
            <th>主担当ユーザー</th>
            <td>@TaskController.findTaskMstByTeamAndTaskName(teamName,taskName).mainUser.userName</td>
        </tr>
        <tr>
            <th>ユーザー毎の実施回数</th>
            <td>@Html(TaskController.editTaskDoneCountHtml(teamName, taskName))</td>
        </tr>
    </table>
    <a href="@routes.TaskController.displayUpdateTaskMst(teamName,taskName)">タスク編集</a>
</div>

}