@(html: String, dateStr: String, teamName: String)

@import util.DateUtil
@import services.implement.TaskServiceImpl

@main("タスクリスト：" + DateUtil.getDateStrFromStr(dateStr, "yyyyMMdd", "yyyy/MM/dd(E)")) {
        <div class="row bg-primary">
            <div class="col-xs-8">
                <a class="bg-primary" href="/@teamName/task/list/@DateUtil.getThatDate(dateStr, "yyyyMMdd", -1)">＜</a>
                タスクリスト：@DateUtil.getDateStrFromStr(dateStr, "yyyyMMdd", "yyyy/MM/dd(E)")
                <a class="bg-primary" href="/@teamName/task/list/@DateUtil.getThatDate(dateStr, "yyyyMMdd", 1)">＞</a>
            </div>
            @* タスクマスタ新規作成へのリンク *@
            <div class="col-xs-4">
                <a class="bg-primary" href="@routes.TaskController.displayCreateTaskMst(teamName)">タスク新規作成</a>
            </div>
        </div>
        <div class="row">
            <table class="table table-sm table-hover">
            @*****
                表示イメージ
                [未実施]
                    [主担当：USER1]
                        [TASK1]
                        [TASK2]
                    [主担当：USER2]
                        [TASK3]
                [実施対象外]
                    [TASK4]
                [実施済]
                    [実施者：USER1]
                        [TASK5]
                        [TASK6]
                    [実施者：USER2]
                        [TASK7]
            *****@
            @* 表示の分類毎にHTMLタグの文字列を作っていき最後にくっつける *@
                @Html(html)

            </table>
        </div>
}

